# Working with Data in Python

This notebook will help you get started with data analysis using Python and pandas. If you've used Excel before, you'll find many familiar concepts—plus some new superpowers!

## 1. Introduction

**pandas** is a Python library for working with tabular data (like spreadsheets). It's widely used in research for:
- Cleaning and organizing survey results
- Combining data from different sources
- Calculating quick statistics
- Exporting results for reports

## 2. Getting Started with pandas

Let's import pandas and create a small example dataset. (In practice, you'd load your own CSV file.)

In [1]:
import pandas as pd

# Example data: research projects
data = {
    'project': ['Green Roof', 'Solar Study', 'Urban Heat', 'Daylight', 'Retrofit'],
    'year': [2021, 2022, 2022, 2023, 2021],
    'type': ['Sustainability', 'Energy', 'Climate', 'Lighting', 'Renovation'],
    'lead': ['Smith', 'Lee', 'Patel', 'Kim', None],
    'budget': [50000, 60000, None, 45000, 30000]
}
df = pd.DataFrame(data)

# Save to CSV for demonstration
df.to_csv('projects.csv', index=False)

# Read the CSV file (simulating a real workflow)
df = pd.read_csv('projects.csv')

df.head()  # Show the first few rows

       project  year            type   lead   budget
0   Green Roof  2021  Sustainability  Smith  50000.0
1  Solar Study  2022          Energy    Lee  60000.0
2   Urban Heat  2022         Climate  Patel      NaN
3     Daylight  2023        Lighting    Kim  45000.0
4     Retrofit  2021      Renovation    NaN  30000.0

In [2]:
# Get a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   project  5 non-null      object
 1   year     5 non-null      int64
 2   type     5 non-null      object
 3   lead     4 non-null      object
 4   budget   4 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 328.0+ bytes

In [3]:
# Quick statistics for numeric columns
df.describe()

             year   budget
count     5.00000      4.0
mean   2021.80000  46250.0
std       0.83666  12500.0
min    2021.00000  30000.0
25%    2021.00000  41250.0
50%    2022.00000  47500.0
75%    2022.00000  52500.0
max    2023.00000  60000.0

## 3. Exploring the Data

Let's look at how to select columns, filter rows, and sort data.

In [4]:
# Select a single column
df['project']

0     Green Roof
1    Solar Study
2     Urban Heat
3       Daylight
4       Retrofit
Name: project, dtype: object

In [5]:
# Select multiple columns
df[['project', 'year']]

       project  year
0   Green Roof  2021
1  Solar Study  2022
2   Urban Heat  2022
3     Daylight  2023
4     Retrofit  2021

In [6]:
# Filter rows: projects from 2022
df[df['year'] == 2022]

       project  year     type   lead   budget
1  Solar Study  2022   Energy    Lee  60000.0
2   Urban Heat  2022  Climate  Patel      NaN

In [7]:
# Sort by budget (highest first)
df.sort_values('budget', ascending=False)

       project  year            type   lead   budget
1  Solar Study  2022          Energy    Lee  60000.0
0   Green Roof  2021  Sustainability  Smith  50000.0
3     Daylight  2023        Lighting    Kim  45000.0
4     Retrofit  2021      Renovation    NaN  30000.0
2   Urban Heat  2022         Climate  Patel      NaN

## 4. Cleaning the Data

Real-world data is often messy. Let's check for missing values and tidy things up.

In [8]:
# Count missing values in each column
df.isnull().sum()

project    0
year       0
type       0
lead       1
budget     1
dtype: int64

In [9]:
# Fill missing values in 'lead' with 'Unknown'
df['lead'] = df['lead'].fillna('Unknown')

# Drop rows where 'budget' is missing
df = df.dropna(subset=['budget'])

df

       project  year            type     lead   budget
0   Green Roof  2021  Sustainability    Smith  50000.0
1  Solar Study  2022          Energy      Lee  60000.0
3     Daylight  2023        Lighting      Kim  45000.0
4     Retrofit  2021      Renovation  Unknown  30000.0

In [10]:
# Rename a column
df = df.rename(columns={'lead': 'principal_investigator'})
df.head()

       project  year            type principal_investigator   budget
0   Green Roof  2021  Sustainability                  Smith  50000.0
1  Solar Study  2022          Energy                    Lee  60000.0
3     Daylight  2023        Lighting                    Kim  45000.0
4     Retrofit  2021      Renovation                Unknown  30000.0

In [11]:
# Remove duplicate rows (if any)
df = df.drop_duplicates()
df

       project  year            type principal_investigator   budget
0   Green Roof  2021  Sustainability                  Smith  50000.0
1  Solar Study  2022          Energy                    Lee  60000.0
3     Daylight  2023        Lighting                    Kim  45000.0
4     Retrofit  2021      Renovation                Unknown  30000.0

## 5. Simple Aggregation

Let's summarize our data to get useful insights.

In [12]:
# Count projects by type
df.groupby('type')['project'].count()

type
Energy            1
Lighting          1
Renovation        1
Sustainability    1
Name: project, dtype: int64

In [13]:
# Average budget by project type
df.groupby('type')['budget'].mean()

type
Energy            60000.0
Lighting          45000.0
Renovation        30000.0
Sustainability    50000.0
Name: budget, dtype: float64

In [14]:
# How many projects per year?
df['year'].value_counts()

2021    2
2022    1
2023    1
Name: year, dtype: int64

## 6. Saving Data

Once your data is clean, you can export it for use elsewhere.

In [15]:
# Save the cleaned dataframe to a new CSV file
df.to_csv('projects_cleaned.csv', index=False)

## 7. Practice Challenge (Optional)

**Task:**
- Filter all projects from 2022
- Rename the 'type' column to 'category'
- Save the result to a new CSV file called `projects_2022.csv`

## 8. Common Data Issues

### ⚠️Encoding & Special Characters

When working with data containing special characters (like Swedish å, ä, ö), you may see strange symbols or errors if the encoding is not handled correctly.

**Tip:** Always specify the encoding when reading or writing files if you expect non-English characters.

In [16]:
# Example: Saving and loading Swedish characters
df_sw = pd.DataFrame({'name': ['Malmö', 'Göteborg', 'Umeå']})
df_sw.to_csv('swedish_cities.csv', index=False, encoding='utf-8')  # Always use utf-8

# Reading with correct encoding
pd.read_csv('swedish_cities.csv', encoding='utf-8')

       name
0     Malmö
1  Göteborg
2      Umeå

### ⚠️File Path Issues: Slashes, Spaces, and Case

- **Windows uses backslashes (`\`)**, while Mac/Linux use forward slashes (`/`). Python accepts both, but forward slashes are safer.
- **Spaces and mixed case** in file or folder names can cause problems. Always double-check your paths!

**Tip:** Use `r'path'` (raw strings) or `os.path.join()` to avoid mistakes.

In [17]:
import os
# Safer way to build file paths:
folder = 'My Data Folder'
filename = 'Results 2023.csv'
path = os.path.join(folder, filename)
print(path)  # Handles slashes for your OS

My Data Folder\Results 2023.csv

### ⚠️Inconsistent Variable Naming

Mixing up variable names (e.g., `ProjectName` vs `project_name`) can lead to bugs and confusion.

**Tip:** Stick to a naming convention (like `snake_case`) and be consistent throughout your code.

In [18]:
# Example: Inconsistent naming can cause errors
projectName = 'Green Roof'
# print(project_name)  # This will cause a NameError

# Consistent naming:
project_name = 'Green Roof'

### ⚠️Handling Newlines in Text Data

Sometimes, text fields contain `\n` (newline) characters. This can make your data look odd or break CSV formatting.

**Tip:** Use `str.replace()` or pandas string methods to clean up newlines if needed.

In [19]:
# Example: Cleaning newlines in a text column
df_text = pd.DataFrame({'notes': ['Line one\nLine two', 'No newline here']})
df_text['notes_clean'] = df_text['notes'].str.replace('\n', ' ', regex=False)
df_text

                notes        notes_clean
0  Line one\nLine two  Line one Line two
1     No newline here    No newline here

### Other Common Issues to Watch For

- **Date formats:** Dates may be in different formats (e.g., `YYYY-MM-DD` vs `DD/MM/YYYY`). Use `pd.to_datetime()` to standardize.
- **Missing values:** Not all missing values are `NaN`—sometimes they're empty strings or special codes.
- **Data types:** Numbers may be read as text if there are stray characters.

Always inspect your data and use pandas tools to clean and standardize!

## 9. Links & Next Steps

- [pandas documentation](https://pandas.pydata.org/docs/)
- Try the next notebook: Automating Repetitive Tasks
- Keep experimenting—every dataset is a new opportunity to learn!